@import "compass/reset";

body {
  padding: 40px;
  color: #444;
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}

a {
  color: #ca3a00;
  text-decoration: none;
}

a:hover {
  color: darken(#ca3a00, 10%);
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  width: 600px;
}

.section {
  position: relative;
}

.section-header {
  position: absolute;
  left: -240px;
  width: 200px;
  text-align: right;
}

.section + .section {
  margin-top: 20px;
}
