.bg-layout-outer {
  @include outer-container;
}

.bg-layout-inner {
  @include row;
}

.bg-header,
.bg-footer {
  padding: 0.5rem 1rem;

  .bg-layout-inner {
    font-size: 0.8rem;
  }
}

.bg-header-navigation,
.bg-footer-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}


.bg-header {
  border-bottom: 1px solid $border-color;
}

.bg-header-title {
  a {
    color: $font-color;
  }

  a:hover {
    color: $link-color;
  }
}

.bg-footer {
  border-top: 1px solid $border-color;
}

.bg-footer-navigation {
  text-align: center;
}

.bg-content {
  margin: 1em 0;
  padding: 0 1rem;
}

@include media(min-width 480px) {
  .bg-header-title {
    @include span-columns(9);
  }

  .bg-header-navigation {
    text-align: right;
    @include span-columns(3);
  }

  .bg-footer-navigation > li {
    display: inline;
    margin: 0 1em;
  }
}
