.bg-post-list {
  padding: 0;
  list-style: none;
}

.bg-post-item {
  margin: 0.5rem 0;
  @include row;
}

.bg-post-header {
  margin: 0 0 2.0rem;
}

.bg-post-date {
  color: #999;
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1rem;
}

.bg-post-title {
  margin: 0;
}

@include media(min-width 480px) {
  .bg-post-item {
    > .bg-post-date {
      margin-top: 0.5em;
      text-align: right;
      @include span-columns(3);
    }

    > .bg-post-title {
      @include span-columns(9);
    }
  }
}
