.bg-reading-list {
  margin: 1rem 0;
  border-bottom: 1px solid $border-color;
}

.bg-reading-list:last-child {
  border-bottom: 0;
}

.bg-reading-list-header {
  margin: 0 0 1rem 1rem;
  float: right;
  color: #999;
  font-style: italic;
  line-height: 1em;
}

.bg-reading-list-group {
  padding: 0;
}

.bg-reading-list-group-item {
  margin: 0.5rem 0;
  list-style: none;
}

.bg-reading-list-group-item-desc {
  margin-left: 0.5rem;
  color: #666;
  font-style: italic;
}
