@use "variables" as *;

.bg-post-list {
  padding: 0;
  list-style: none;
}

.bg-post-item {
  margin: 0.5rem 0;
}

.bg-post-header {
  margin: 0 0 2rem;
}

.bg-post-date {
  color: #999;
  font-size: 0.8rem;
  font-weight: 300;
}

.bg-post-title {
  margin: 0;
}

@media (min-width: $breakpoint-md) {
  .bg-post-item {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 0 $gutter;
    align-items: baseline;

    > .bg-post-date {
      margin-top: 0.5rem;
      text-align: right;
    }
  }
}
