$background-color: #f6f6f6;
$border-color: #e0e0e0;

$font-color: #444;
$font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$font-size: 18px;
$font-weight: 300;
$line-height: 1.7rem;
$link-color: #ca3a00;

$max-width: 43.75em;
$gutter: 1.5rem;
$breakpoint-md: 480px;
