body {
  color: $font-color;
  font-family: $font-family;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  background-color: $background-color;
}

a {
  color: $link-color;
  text-decoration: none;

  @include transition-duration(0.5s);
  @include transition-property(color);
}

a:hover {
  color: darken($link-color, 10%);
}

blockquote {
  margin: 1rem 0;
  padding: 1rem;
  font-size: 1.4rem;
  font-style: italic;
  background-color: rgba(224, 224, 224, 0.25);
  border-left: 3px solid $border-color;
}

blockquote > p {
  margin: 0;
  padding: 0;
}

figcaption {
  margin: 1rem 0 0.2rem;
  color: #999;
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1em 0;
  font-weight: 200;
}

h1 {
  font-size: 1.8rem;
  line-height: 2rem;
}

h2 {
  font-size: 1.6rem;
  line-height: 2rem;
}

h3 {
  font-size: 1.4rem;
  line-height: 1.8rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1.0rem;
}

h6 {
  font-size: 0.8rem;
}

hr {
  margin: 2.0rem 0;
  border: 0;
  border-bottom: 1px solid $border-color;
}

pre {
  margin: 0 0.8rem;
  padding: 0.5rem 0;
}

ol, ul {
  padding: 0;
}
