.bg-layout-outer {
  @include outer-container;
}

.bg-layout-inner {
  @include row;
}

.bg-header,
.bg-content,
.bg-footer {
  padding: 0 1rem;
}

.bg-header,
.bg-footer {
  padding: 0.5rem 0;

  .bg-layout-inner {
    font-size: 0.8rem;
  }
}

.bg-header-navigation,
.bg-footer-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}


.bg-header {
  border-bottom: 1px solid $border-color;
}

.bg-header-title {
  a {
    color: $font-color;
  }

  a:hover {
    color: $link-color;
  }
}

.bg-content {
  margin: 1em 0;
}

.bg-footer {
  border-top: 1px solid $border-color;
}

.bg-footer-navigation {
  text-align: center;
}
