.layout-wrapper {
  margin: 0 1rem;
  position: relative;
}

.layout-inner {
  font-size: 0.8rem;
  font-weight: 300;

  @include row;
}

.layout-header,
.layout-content,
.layout-footer {
  @include outer-container;
}

.layout-header,
.layout-footer {
  padding: 0.5rem 0;
}

.layout-header::before,
.layout-footer::before {
  content: '';
  display: block;
  position: absolute;
  left: -1rem;
  right: -1rem;
  border-bottom: 1px solid #e0e0e0;
}

.layout-header::before {
  top: 2.5rem;
}

.layout-footer::before {
  bottom: 2.5rem;
}

.layout-header {
  margin-bottom: 1px;
}

.layout-title {
  @include span-columns(9);

  a {
    color: #444;
  }

  a:hover {
    color: #ca3a00;
  }
}

.layout-navigation {
  text-align: right;
  @include span-columns(3);
}

.layout-footer {
  margin-top: 1px;
}

.layout-social {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.layout-social-link {
  display: inline;
  margin: 0 1rem;
}

.layout-content {
  margin: 1.0rem auto;
}
