.post-list {
  padding: 0;
  list-style: none;
}

.post-list-item {
  margin: 0.2rem 0;

  @include row();

  > .post-date,
  > .post-title {
    @include span-columns(12);
  }

  > .post-date {
    margin-top: 0.5rem;
    line-height: 0.8rem;
  }

  @include media(min-width 600px) {
    > .post-date {
      text-align: right;

      @include span-columns(3);
    }

    > .post-title {
      @include span-columns(9);
    }
  }
}

.post-header {
  margin: 0 0 2.0em;
}

.post-date {
  color: #999;
  font-size: 0.8em;
  font-weight: 300;
}

.post-title {
  margin: 0;
}

.post-intro {
  color: #444;
  font-family: $georgia;
  font-size: 1.4em;
  line-height: 1.3em;
}
