---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";

const posts = (await getCollection("posts")).sort(
  (a, b) => b.data.date.getTime() - a.data.date.getTime(),
);

const dateFormatter = new Intl.DateTimeFormat("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
  timeZone: "UTC",
});
---

<BaseLayout title="Home">
  <section class="bg-content">
    <div class="bg-layout-outer">
      <div class="bg-layout-inner">
        <p>
          <strong>Hello, my name is Brad Gignac</strong>. I'm a Christian, husband, and father living in beautiful Charlotte, NC. In my spare time, you'll find me spending time with my family, enjoying great music, and <a href="/reading-list">cozying up with a good book</a>. In my professional life, I work as a software developer at <a href="https://www.rackspace.com">Rackspace</a> building tooling that helps our customers manage infrastructure running on <a href="https://www.rackspace.com/managed-aws">AWS</a>, <a href="https://www.rackspace.com/managed-google-cloud">GCP</a>, and <a href="https://www.rackspace.com/microsoft/managed-azure-cloud">Azure</a>. Previously, I spent time working on the <a href="http://mailgun.com">Mailgun</a> and <a href="https://mycloud.rackspace.com">Cloud Control Panel</a> teams. Visit me elsewhere on <a href="https://github.com/bradgignac">GitHub</a>, <a href="https://linkedin.com/in/bradgignac">LinkedIn</a>, <a href="https://speakerdeck.com/bradgignac">Speaker Deck</a> and <a href="https://twitter.com/bradgignac">Twitter</a>.
        </p>

        {posts.length > 0 && (
          <>
            <hr />
            <ul class="bg-post-list">
              {posts.map((post) => (
                <li class="bg-post-item">
                  <div class="bg-post-date">{dateFormatter.format(post.data.date)}</div>
                  <div class="bg-post-title">
                    <a href={`/posts/${post.id}/`}>{post.data.title}</a>
                  </div>
                </li>
              ))}
            </ul>
          </>
        )}
      </div>
    </div>
  </section>
</BaseLayout>
