@import "compass/css3/background-size";
@import "compass/css3/images";
@import "compass/css3/transition";
@import "normalize.scss";
@import "mixins.scss";
@import "variables.scss";

html,
body {
  color: #555;
  font-family: "Palatino", "Georgia", "Times New Roman", serif;
  font-size: 18px;
  height: 100%;
  line-height: 25px;
  margin: 0;
  padding: 0;
}

a {
  color: #555;
  text-decoration: none;
}

#wrapper {
  height: auto !important;
  height: 100%;
  margin: 0 0 -30px;
  min-height: 100%;
}

#rainbow {
  height: 5px;
  @include background-image(
    linear-gradient(
      left,
      $blueDarker     8%,
      $blue           8%,
      $blue           16%,
      $blueLighter    16%,
      $blueLighter    24%,
      $greenDarker    24%,
      $greenDarker    32%,
      $green          32%,
      $green          41%,
      $greenLighter   41%,
      $greenLighter   50%,
      $orangeDarker   50%,
      $orangeDarker   59%,
      $orange         59%,
      $orange         68%,
      $orangeLighter  68%,
      $orangeLighter  76%,
      $pinkDarker     76%,
      $pinkDarker     84%,
      $pink           84%,
      $pink           92%,
      $pinkLighter    92%
    )
  );
}

#header {
  padding: 25px 0;
  @include container;
}

#title {
  float: left;
  font-size: 25px;
  margin: 0;
  padding: 0;
}

#nav {
  float: right;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    list-style: none;
    margin-left: 25px;
  }

  a {
    display: block;
    @include transition-property(color);
    @include transition-duration(0.5s);

    &.about:hover {
      color: $blue;
    }

    &.blog:hover {
      color: $green;
    }

    &.projects:hover {
      color: $orange;
    }

    &.talks:hover {
      color: $pink;
    }
  }
}

#footer-wrapper,
#push {
  height: 30px;
}

#footer-wrapper {
  background-color: #ccc;
}

#footer {
  @include container;
}

#elsewhere {
  float: left;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
  }
}

#nerdery {
  float: right;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
  }
}
