// Colors
$blue: rgb(0, 107, 135);
$blueLighter: rgb(0, 126, 158);
$blueDarker: rgb(0, 80, 100);

$green: rgb(96, 124, 0);
$greenLighter: rgb(110, 143, 0);
$greenDarker: rgb(75, 97, 0);

$orange: rgb(214, 95, 0);
$orangeDarker: rgb(179, 79, 1);
$orangeLighter: rgb(242, 107, 0);

$pink: rgb(214, 0, 88);
$pinkDarker: rgb(176, 0, 73);
$pinkLighter: rgb(244, 0, 101);

// Section Themes
$aboutSection: $blue;
$blogSection: $green;
$projectsSection: $orange;
$talksSection: $pink;
