---
import type { CollectionEntry } from "astro:content";

interface Props {
  posts: Array<CollectionEntry<"posts">>;
}

const { posts } = Astro.props;

const dateFormatter = new Intl.DateTimeFormat("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
  timeZone: "UTC",
});
---

<ul class="bg-post-list">
  {posts.map((post) => (
    <li class="bg-post-list-item">
      <div class="bg-post-list-date">
        {dateFormatter.format(post.data.date)}
      </div>
      <div class="bg-post-list-title">
        <a href={`/posts/${post.id}/`}>{post.data.title}</a>
        {post.data.tags && post.data.tags.length > 0 && (
          <ul class="bg-post-list-tags">
            {post.data.tags.map((tag) => (
              <li class="bg-post-list-tag">{tag}</li>
            ))}
          </ul>
        )}
      </div>
    </li>
  ))}
</ul>
