---
---

<footer class="bg-footer">
  <div class="bg-layout-outer">
    <div class="bg-layout-inner">
      <ul class="bg-footer-navigation">
        <li><a href="https://github.com/bradgignac">GitHub</a></li>
        <li><a href="https://linkedin.com/in/bradgignac">LinkedIn</a></li>
        <li><a href="https://speakerdeck.com/bradgignac">Speaker Deck</a></li>
        <li><a href="https://twitter.com/bradgignac">Twitter</a></li>
        <li><a href="/rss.xml">RSS</a></li>
      </ul>
    </div>
  </div>
</footer>
