---
---

<footer class="bg-footer">
  <div class="bg-layout-outer">
    <div class="bg-layout-inner">
      <ul class="bg-footer-navigation">
        <li><a href="https://github.com/bradgignac" target="_blank" rel="noopener noreferrer">GitHub</a></li>
        <li><a href="https://linkedin.com/in/bradgignac" target="_blank" rel="noopener noreferrer">LinkedIn</a></li>
        <li><a href="https://www.instagram.com/bradgignac/" target="_blank" rel="noopener noreferrer">Instagram</a></li>
        <li><a href="https://www.alltrails.com/members/brad-gignac" target="_blank" rel="noopener noreferrer">AllTrails</a></li>
        <li><a href="https://outpack.app/u/FdTn4pwq" target="_blank" rel="noopener noreferrer">Outpack</a></li>
        <li><a href="/rss.xml">RSS</a></li>
      </ul>
    </div>
  </div>
</footer>
