<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    
    <meta charset="utf-8">
    <meta author="Brad Gignac">
    <meta description="Description...">
</head>

<body id="home">
    <header id="masthead">
        <h1>Brad Gignac</h1>
        <nav id="primary">
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#talks">Talks</a></li>
                <li><a href="#elsewhere">Elsewhere</a></li>
            </ul>
        </nav>
    </header>
    
    <section id="projects">
        <h1>Projects</h1>
        <article>
            <h2><a href="#">Dispatch</a></h2>
            <p>Sane routing for ASP.NET MVC.</p>
        </article>
        <article>
            <h2><a href="#">EnvironmentController.NET</a></h2>
            <p>A C# port of Uncle Bob's EnvironmentController TDD exercise.</p>
        </article>
        <article>
            <h2><a href="#">PPP.NET</a></h2>
            <p>A C# port of Uncle Bob's PPP exercises.</p>
        </article>
        <article>
            <h2><a href="#">Toolbox</a></h2>
            <p>The missing designer's toolbox for Windows.</p>
        </article>
    </section>
    
    <section id="talks">
        <h1>Talks</h1>
        <article>
            <h2><a href="#">Event-Driven Programming with Node.js</a></h2>
            <p>An introduction to event-driven programming and Node.js.</p>
        </article>
        <article>
            <h2><a href="#">CQRS with Event Sourcing</a></h2>
            <p>An overview of using a CQRS-based architecture with event sourcing.</p>
        </article>
    </section>
    
    <footer id="elsewhere">
        <p id="about">
            This is a very simple<br />
            four line description<br />
            of me and my interests<br />
            as well as my contact info.
        </p>
        <ul id="third_party">
            <li><a href="#">Dribbble</a></li>
            <li><a href="#">GitHub</a></li>
            <li><a href="#">Stack Overflow</a></li>
            <li><a href="#">Twitter</a></li>
        </ul>
    </footer>
    
    <!-- Where to put link to 37 North? -->
    <!-- Do I need anything else in the header? -->
    <!-- Other features link a blogroll or reading list? -->
</body>
</html>