---
layout: base
---

<div class="layout-wrapper">
  <section class="layout-content">
    {{content}}
    <hr>
    <ul class="post-list">
      <li class="post-list-item">
        <div class="post-list-date">January 23, 2013</div>
        <div class="post-list-title"><a href="#">This is my title.</a></div>
      </li>
      <li class="post-list-item">
        <div class="post-list-date">February 23, 2013</div>
        <div class="post-list-title"><a href="#">This is my title.</a></div>
      </li>
      <li class="post-list-item">
        <div class="post-list-date">March 23, 2013</div>
        <div class="post-list-title"><a href="#">This is my title.</a></div>
      </li>
      <li class="post-list-item">
        <div class="post-list-date">April 23, 2013</div>
        <div class="post-list-title"><a href="#">This is my title.</a></div>
      </li>
      <li class="post-list-item">
        <div class="post-list-date">May 23, 2013</div>
        <div class="post-list-title"><a href="#">This is my title.</a></div>
      </li>
      <li class="post-list-item">
        <div class="post-list-date">June 23, 2013</div>
        <div class="post-list-title"><a href="#">This is my title.</a></div>
      </li>
      <li class="post-list-item">
        <div class="post-list-date">July 23, 2013</div>
        <div class="post-list-title"><a href="#">This is my title.</a></div>
      </li>
      <li class="post-list-item">
        <div class="post-list-date">August 23, 2013</div>
        <div class="post-list-title"><a href="#">This is my title.</a></div>
      </li>
      <li class="post-list-item">
        <div class="post-list-date">September 23, 2013</div>
        <div class="post-list-title"><a href="#">This is my title.</a></div>
      </li>
      <li class="post-list-item">
        <div class="post-list-date">October 23, 2013</div>
        <div class="post-list-title"><a href="#">This is my title.</a></div>
      </li>
      <li class="post-list-item">
        <div class="post-list-date">November 23, 2013</div>
        <div class="post-list-title"><a href="#">This is my title.</a></div>
      </li>
      <li class="post-list-item">
        <div class="post-list-date">December 23, 2013</div>
        <div class="post-list-title"><a href="#">This is my title.</a></div>
      </li>
    </ul>
  </section>
</div>
