<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>

  <meta charset="utf-8">
  <meta author="Brad Gignac">
  <meta description="Description...">

  <link rel="stylesheet" type="text/css" href="stylesheets/site.css">
</head>

<body>
  <header id="header">
    <h1>brad gignac</h1>
    <nav>
      <ul>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Talks</a></li>
      </ul>
    </nav>
  </header>
  <section id="content">
    Content
  </section>
  <footer id="footer">
    Footer
  </footer>
</body>
</html>
