<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>

  <meta charset="utf-8">
  <meta author="Brad Gignac">
  <meta description="Description...">

  <link rel="stylesheet" type="text/css" href="stylesheets/site.css">
</head>

<body>
  <div id="wrapper">
    <header id="header">
      <h1 id="title"><a href="#">brad gignac</a></h1>
      <nav id="nav">
        <ul>
          <li><a class="about" href="/about/">about</a></li>
          <li><a class="blog" href="/blog/">blog</a></li>
          <li><a class="projects" href="/projects/">projects</a></li>
          <li><a class="talks" href="/talks/">talks</a></li>
        </ul>
      </nav>
    </header>
    <section id="content">
      {{ page.content }}
    </section>
  </div>
</body>
</html>
