---
layout: base
---

<header class="layout-header">
  <div class="layout-inner">
    <div class="layout-title">
      Hello, my name is <a href="/"><strong>Brad Gignac</strong></a>.
    </div>
    <div class="layout-navigation">
      <a href="/">Back to Blog &raquo;</a>
    </div>
  </div>
</header>

<section class="layout-content">
  <article class="post">
    <header class="post-header">
      <div class="post-date">{{ page.date | date: "%B %d, %Y" }}</div>
      <h1 class="post-title">{{ page.title }}</h1>
    </header>
    <div class="post-content">{{ content }}</div>
  </article>
</section>

<footer class="layout-footer">
  <div class="layout-inner">
    Footer
  </div>
</footer>
