---
layout: base
---

<header class="bg-header">
  <div class="bg-layout-outer">
    <div class="bg-layout-inner">
      <div class="bg-header-title">
        Hello, my name is <a href="/"><strong>Brad Gignac</strong></a>.
      </div>
      <ul class="bg-header-navigation">
        <li><a href="/">Back to Blog &raquo;</a></li>
      </ul>
    </div>
  </div>
</header>

<section class="bg-content">
  <div class="bg-layout-outer">
    <div class="bg-layout-inner">
      <article class="post">
        <header class="post-header">
          <div class="post-date">{{ page.date | date: "%B %d, %Y" }}</div>
          <h1 class="post-title">{{ page.title }}</h1>
        </header>
        <div class="post-content">{{ content }}</div>
      </article>
    </div>
  </div>
</section>

<footer class="bg-footer">
  <div class="bg-layout-outer">
    <div class="bg-layout-inner">
      <ul class="bg-footer-navigation">
        <li><a href="https://github.com/bradgignac">GitHub</a></li>
        <li><a href="https://linkedin.com/in/bradgignac">LinkedIn</a></li>
        <li><a href="https://speakerdeck.com/bradgignac">Speaker Deck</a></li>
        <li><a href="https://twitter.com/bradgignac">Twitter</a></li>
      </ul>
    </div>
  </div>
</footer>
