---
import BaseLayout from "./BaseLayout.astro";
import SiteFooter from "../components/SiteFooter.astro";

interface Props {
  title: string;
  date: Date;
  tags?: string[];
}

const { title, date, tags } = Astro.props;
const formattedDate = date.toLocaleDateString("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
  timeZone: "UTC",
});
---

<BaseLayout title={title}>
  <header class="bg-header">
    <div class="bg-layout-outer">
      <div class="bg-layout-inner">
        <div class="bg-header-title">
          Hello, my name is <a href="/"><strong>Brad Gignac</strong></a>.
        </div>
        <ul class="bg-header-navigation">
          <li><a href="/">Back to Blog &raquo;</a></li>
        </ul>
      </div>
    </div>
  </header>

  <section class="bg-content">
    <div class="bg-layout-outer">
      <div class="bg-layout-inner">
        <article class="bg-post">
          <header class="bg-post-header">
            <div class="bg-post-date">{formattedDate}</div>
            <h1 class="bg-post-title">{title}</h1>
            {tags && tags.length > 0 && (
              <ul class="bg-post-tags">
                {tags.map((tag) => <li class="bg-post-tag">{tag}</li>)}
              </ul>
            )}
          </header>
          <div class="bg-post-content">
            <slot />
          </div>
        </article>
      </div>
    </div>
  </section>

  <SiteFooter />
</BaseLayout>
